<div class="header">
	<hgroup>
		<h1 class="brand-title">{{ blog.title }}</h1>
		<h2 class="brand-tagline">{{ blog.subtitle }}</h2>
	</hgroup>

	<nav class="nav">
		<ul class="nav-list">
			<li class="nav-item" >
				<a class="pure-button" href="{{ blog.baseurl }}"  >Home</a>
			</li>

			{% for page in menu_pages %}
				{% if page.is_external_page %}
				<li class="nav-item"><a class="pure-button" href="{{page.link}}" target={{page.target}} >{{page.title}}</a></li>
				{% else %}
				<li class="nav-item"><a class="pure-button" href="/{{page.link}}" target={{page.target}} >{{page.title}}</a></li>
				{% endif %}
			{% endfor %}
			{% block topmenu %}{% endblock %}

			{%mf nav_menu%}
			{%endmf%}

		</ul>

	</nav>
	<ul class="nav-list">
		<li class="nav-item" >
			<div id="searchbox" >

			<form method="get" id="searchform" action="http://www.google.com/search">
					<input type="text" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" name="as_q" id="s" />
					<input type="image" src="{{ blog.static_url }}/themes/{{ blog.theme_name }}/images/transparent.gif" id="go" alt="Search" title="Search" />
					<input name="as_sitesearch" value="{{blog.domain}}" type="hidden">

					</form>

			</div>
		</li>
		<li>
			<div id="googlead" class="nav-item" >
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- getfood-nav-responsive -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-6293971471163289"
					 data-ad-slot="6028810682"
					 data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</li>
	</ul>
</div>

